# vi: ft=yaml
---
extends: default

rules:
  indentation:
    spaces: 2
    level: error
    indent-sequences: false
  line-length:
    max: 250
  braces:
    max-spaces-inside: 1
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
    check-keys: true
  comments:
    # this is useful to distinguish commented code from comments
    require-starting-space: false
