---
name: release

on:
  push:
    tags:
    - "v*"

jobs:
  build:
    uses: ./.github/workflows/build.yml

  publish-release:
    name: Publish Release
    runs-on: ubuntu-22.04

    permissions:
      contents: write

    needs:
    - build

    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v4
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        files: |
          macos-packages-x86_64/*
          macos-packages-arm64/*
          windows-packages-x86_64/*
          linux-packages-amd64/*
          linux-packages-aarch64/*

    - name: Generate env
      run: |
    - name: Generate PKGBUILD
      run: |
        set -x

        VERSION="${GITHUB_REF##*/}"
        VERSION="${VERSION#v}"
        SHA256_x86_64=$(sha256sum linux-packages-amd64/chdig-$VERSION-1-x86_64.pkg.tar.zst | cut -d' ' -f1)
        SHA256_aarch64=$(sha256sum linux-packages-aarch64/chdig-$VERSION-1-aarch64.pkg.tar.zst | cut -d' ' -f1)

        cat > PKGBUILD <<EOL
        # shellcheck disable=SC2034,SC2154
        # - SC2034 - appears unused.
        # - SC2154 - pkgdir is referenced but not assigned.

        # Maintainer: Azat Khuzhin <a3at.mail@gmail.com>
        pkgname=chdig-bin
        pkgver=$VERSION
        pkgrel=1
        pkgdesc="Dig into ClickHouse with TUI interface (binaries for latest stable version)"
        arch=('x86_64' 'aarch64')
        conflicts=("chdig")
        provides=("chdig")
        url="https://github.com/azat/chdig"
        license=('MIT')
        source_x86_64=("https://github.com/azat/chdig/releases/download/v\$pkgver/chdig-\$pkgver-1-x86_64.pkg.tar.zst")
        source_aarch64=("https://github.com/azat/chdig/releases/download/v\$pkgver/chdig-\$pkgver-1-aarch64.pkg.tar.zst")
        sha256sums_x86_64=('$SHA256_x86_64')
        sha256sums_aarch64=('$SHA256_aarch64')

        package() {
            tar -C "\$pkgdir" -xvf chdig-\$pkgver-1-\$(uname -m).pkg.tar.zst
            rm -f "\$pkgdir/.PKGINFO"
            rm -f "\$pkgdir/.MTREE"
        }
        # vim set: ts=4 sw=4 et
        EOL
        cat PKGBUILD
    - name: Publish to the AUR
      uses: KSXGitHub/github-actions-deploy-aur@v3.0.1
      if: ${{ github.event.repository.fork == false }}
      with:
        pkgname: chdig-bin
        pkgbuild: PKGBUILD
        commit_username: Azat Khuzhin
        commit_email: a3at.mail@gmail.com
        ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
        commit_message: Release $GITHUB_REF
        # force_push: 'true'
